In [163]:
import pandas as pd
import numpy as np
from datetime import date
from nsepy import get_history
import warnings
warnings.filterwarnings('ignore')

In [164]:
# lodaing dataset
def load_dataset(name, start_d, end_d):
    df = get_history(symbol = name,
                     start = start_d,
                     end = end_d)
    return df

In [165]:
# filiing/adding holiday dates
# assuming that the market doesn't change during holidays
def fill_holiday(df, start_d, end_d):
    idx = pd.date_range(start_d, end_d)
    df = df.reindex(idx, fill_value=0)
    df['Is_Holiday'] = df['Symbol'].apply(lambda x: 1 if(x==0) else 0)
    temp_d = 0
    in_p = int(df.shape[1]-1)
    for i in idx:
        if df.loc[i].Symbol != 0:
            temp_d = i
        else:
            df.loc[i,:in_p] = df.loc[temp_d]
    return df

In [166]:
# Part 1.1: moving average(closing price)
def moving_avg(df, week_list):
    for i in week_list:
        df['MA_'+str(i)] = df.Close.rolling(i*7).mean()
    return df

In [167]:
# Part 1.2: rolling window(closing price)
def roll_window(df, window_size_list):
    for i in window_size_list:
        df['roll_'+str(i)] = df.Close.shift(i)
    return df

In [168]:
# Part 1.3: dummy time series
def add_dummy(df):
    df['volume_shift_1'] = df.Volume.shift(1)
    # 0-if(10% higher or 10% lower), 1
    df['Volume_shocks'] = df.apply(lambda x: 0 if((x.Volume==1.1*x.volume_shift_1)or(x.Volume==0.9*x.volume_shift_1)) else 1, axis='columns')
    # 0-upward, 1-downward
    df['Volume_shocks_direction'] = df.apply(lambda x: 0 if(x.Volume>=x.volume_shift_1) else 1, axis='columns')
    
    df['Close_shift_1'] = df.Close.shift(-1)
    # 0->2%, 1
    df['Price_shocks'] = df.apply(lambda x: 0 if(abs(x.Close-x.Close_shift_1)>0.02*x.Close) else 1, axis='columns')
    # 0-upward, 1-downward
    df['Price_shocks_direction'] = df.apply(lambda x: 0 if(x.Close<x.Close_shift_1) else 1, axis='columns')
    
    # 0->2%, 1
    df['Pricing_black_swan'] = df.apply(lambda x: 0 if(abs(x.Close-x.Close_shift_1)>0.02*x.Close) else 1, axis='columns')
    # 0-upward, 1-downward
    df['Pricing_black_swan_direction'] = df.apply(lambda x: 0 if(x.Close<x.Close_shift_1) else 1, axis='columns')
    
    df['Pricing_shock_without_volume_shock'] = df.apply(lambda x: 0 if(x.Volume_shocks==0 and x.Price_shocks==0) else 1, axis='columns')
    return df

In [178]:
# financial year date
start_date = date(2015,4,1)
end_date = date(2016,3,31)

In [179]:
# 'INFY'
infy = load_dataset('INFY', start_date, end_date)
infy.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-04-01,INFY,EQ,2218.35,2198.9,2199.5,2157.70,2171.00,2173.95,2171.15,1684622,3.657560e+14,90934,1187902,0.7051
2015-04-06,INFY,EQ,2173.95,2179.0,2184.7,2160.40,2179.95,2178.20,2171.24,1935438,4.202294e+14,54198,1529651,0.7903
2015-04-07,INFY,EQ,2178.20,2175.0,2182.8,2138.00,2161.00,2159.50,2160.92,2135567,4.614786e+14,71104,1610234,0.7540
2015-04-08,INFY,EQ,2159.50,2182.5,2204.9,2173.05,2200.00,2200.55,2191.40,2546394,5.580179e+14,84366,2009389,0.7891
2015-04-09,INFY,EQ,2200.55,2211.4,2218.9,2184.40,2212.00,2215.00,2202.96,2645387,5.827672e+14,65171,2202202,0.8325

In [180]:
# handel holidays
# closing and previous close are same
infy = fill_holiday(infy, start_date, end_date)

In [183]:
# moving avg
weeks = [4,16,28,40,52]
infy_ma = moving_avg(infy[['Is_Holiday','Close']], weeks)
infy_ma

,Is_Holiday,Close,MA_4,MA_16,MA_28,MA_40,MA_52
2015-04-01,0,2173.95,NaN,NaN,NaN,NaN,NaN
2015-04-02,1,2173.95,NaN,NaN,NaN,NaN,NaN
2015-04-03,1,2173.95,NaN,NaN,NaN,NaN,NaN
2015-04-04,1,2173.95,NaN,NaN,NaN,NaN,NaN
2015-04-05,1,2173.95,NaN,NaN,NaN,NaN,NaN
2015-04-06,0,2178.20,NaN,NaN,NaN,NaN,NaN
2015-04-07,0,2159.50,NaN,NaN,NaN,NaN,NaN
2015-04-08,0,2200.55,NaN,NaN,NaN,NaN,NaN
2015-04-09,0,2215.00,NaN,NaN,NaN,NaN,NaN
2015-04-10,0,2233.95,NaN,NaN,NaN,NaN,NaN
2015-04-11,1,2233.95,NaN,NaN,NaN,NaN,NaN
2015-04-12,1,2233.95,NaN,NaN,NaN,NaN,NaN
2015-04-13,0,2238.80,NaN,NaN,NaN,NaN,NaN
2015-04-14,1,2238.80,NaN,NaN,NaN,NaN,NaN
2015-04-15,0,2213.70,NaN,NaN,NaN,NaN,NaN
2015-04-16,0,2194.65,NaN,NaN,NaN,NaN,NaN
2015-04-17,0,2179.25,NaN,NaN,NaN,NaN,NaN
2015-04-18,1,2179.25,NaN,NaN,NaN,NaN,NaN
2015-04-19,1,2179.25,NaN,NaN,NaN,NaN,NaN
2015-04-20,0,2132.15,NaN,NaN,NaN,NaN,NaN
2015-04-21,0,2142.60,NaN,NaN,NaN,NaN,NaN
2015-04-22,0,2137.70,NaN,NaN,NaN,NaN,NaN
2015-04-23,0,2122.00,NaN,NaN,NaN,NaN,NaN
2015-04-24,0,1995.20,NaN,NaN,NaN,NaN,NaN
2015-04-25,1,1995.20,NaN,NaN,NaN,NaN,NaN
2015-04-26,1,1995.20,NaN,NaN,NaN,NaN,NaN
2015-04-27,0,1984.65,NaN,NaN,NaN,NaN,NaN
2015-04-28,0,1960.90,2150.505357,NaN,NaN,NaN,NaN
2015-04-29,0,1961.15,2142.905357,NaN,NaN,NaN,NaN
2015-04-30,0,1942.25,2134.630357,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2016-03-02,0,1156.00,1121.160714,1098.139286,1107.951786,1149.800893,NaN
2016-03-03,0,1169.30,1120.787500,1098.690179,1108.129082,1146.774821,NaN
2016-03-04,0,1170.65,1120.642857,1099.313839,1108.234949,1143.730179,NaN
2016-03-05,1,1170.65,1120.498214,1099.937500,1108.340816,1140.685536,NaN
2016-03-06,1,1170.65,1120.353571,1100.561161,1108.446684,1137.640893,NaN
2016-03-07,1,1170.65,1121.062500,1101.368750,1108.847704,1134.508214,NaN
2016-03-08,0,1163.45,1123.055357,1102.279018,1109.244643,1131.489643,NaN
2016-03-09,0,1178.50,1125.553571,1103.694196,1109.825765,1128.481071,NaN
2016-03-10,0,1142.50,1127.833929,1104.539732,1110.130357,1125.318393,NaN
2016-03-11,0,1143.00,1129.917857,1105.348661,1110.293367,1122.216071,NaN
2016-03-12,1,1143.00,1132.001786,1106.157589,1110.456378,1119.113750,NaN
2016-03-13,1,1143.00,1134.085714,1106.966518,1110.619388,1116.011429,NaN
2016-03-14,0,1141.20,1135.851786,1107.747768,1110.858163,1112.944107,NaN
2016-03-15,0,1134.40,1137.825000,1108.580357,1111.089796,1109.880893,NaN
2016-03-16,0,1152.45,1139.775000,1109.574107,1111.360204,1106.759286,NaN
2016-03-17,0,1161.75,1141.144643,1110.550446,1111.678571,1103.773929,NaN
2016-03-18,0,1193.40,1143.507143,1111.684821,1112.288010,1100.982321,NaN
2016-03-19,1,1193.40,1145.869643,1112.819196,1112.897449,1098.190714,NaN
2016-03-20,1,1193.40,1148.232143,1113.953571,1113.506888,1095.399107,NaN
2016-03-21,0,1194.90,1150.669643,1114.908929,1114.201531,1096.129286,NaN
2016-03-22,0,1189.95,1153.028571,1115.899554,1114.870663,1096.810000,NaN
2016-03-23,0,1207.80,1155.973214,1117.212946,1115.478316,1097.567500,NaN
2016-03-24,1,1207.80,1159.455357,1118.552679,1116.128061,1098.302679,NaN
2016-03-25,1,1207.80,1162.550000,1119.970089,1116.725255,1099.061429,NaN
2016-03-26,1,1207.80,1165.644643,1121.387500,1117.322449,1099.820179,NaN
2016-03-27,1,1207.80,1168.739286,1122.804911,1117.919643,1100.578929,NaN
2016-03-28,0,1204.90,1173.055357,1124.221429,1118.456122,1101.225536,NaN
2016-03-29,0,1197.25,1175.619643,1125.586161,1118.956378,1101.928571,1294.797390
2016-03-30,0,1205.95,1177.403571,1127.173214,1119.488520,1102.681607,1292.138049
2016-03-31,0,1218.30,1179.153571,1128.699554,1120.083673,1103.495357,1289.512637

In [185]:
# roll window
window_size = [10,20,30,40,50,60,70,75]
infy_rw = roll_window(infy[['Is_Holiday','Close']],window_size)
infy_rw

,Is_Holiday,Close,roll_10,roll_20,roll_30,roll_40,roll_50,roll_60,roll_70,roll_75
2015-04-01,0,2173.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-02,1,2173.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-03,1,2173.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-04,1,2173.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-05,1,2173.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-06,0,2178.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-07,0,2159.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-08,0,2200.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-09,0,2215.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-10,0,2233.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-11,1,2233.95,2173.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-12,1,2233.95,2173.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-13,0,2238.80,2173.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-14,1,2238.80,2173.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-15,0,2213.70,2173.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-16,0,2194.65,2178.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-17,0,2179.25,2159.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-18,1,2179.25,2200.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-19,1,2179.25,2215.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-20,0,2132.15,2233.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-21,0,2142.60,2233.95,2173.95,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-22,0,2137.70,2233.95,2173.95,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-23,0,2122.00,2238.80,2173.95,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-24,0,1995.20,2238.80,2173.95,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-25,1,1995.20,2213.70,2173.95,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-26,1,1995.20,2194.65,2178.20,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-27,0,1984.65,2179.25,2159.50,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-28,0,1960.90,2179.25,2200.55,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-29,0,1961.15,2179.25,2215.00,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-30,0,1942.25,2132.15,2233.95,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2016-03-02,0,1156.00,1127.25,1078.65,1173.35,1136.25,1049.95,1105.25,1100.85,1083.15
2016-03-03,0,1169.30,1126.65,1084.65,1175.55,1136.25,1083.40,1105.25,1096.35,1083.15
2016-03-04,0,1170.65,1123.90,1084.65,1157.70,1136.25,1133.00,1078.90,1096.35,1083.15
2016-03-05,1,1170.65,1125.35,1084.65,1179.75,1137.65,1139.90,1074.05,1096.35,1103.45
2016-03-06,1,1170.65,1110.30,1091.75,1174.70,1137.65,1139.90,1069.35,1096.35,1083.75
2016-03-07,1,1170.65,1121.15,1079.15,1174.70,1138.50,1139.90,1050.80,1104.75,1100.85
2016-03-08,0,1163.45,1121.15,1097.85,1174.70,1129.60,1131.90,1063.30,1104.70,1096.35
2016-03-09,0,1178.50,1121.15,1123.40,1150.80,1164.90,1139.65,1063.30,1086.30,1096.35
2016-03-10,0,1142.50,1084.05,1127.25,1107.65,1164.90,1121.25,1063.30,1105.40,1096.35
2016-03-11,0,1143.00,1125.45,1127.25,1108.55,1164.90,1137.05,1055.70,1105.25,1096.35
2016-03-12,1,1143.00,1156.00,1127.25,1078.65,1173.35,1136.25,1049.95,1105.25,1104.75
2016-03-13,1,1143.00,1169.30,1126.65,1084.65,1175.55,1136.25,1083.40,1105.25,1104.70
2016-03-14,0,1141.20,1170.65,1123.90,1084.65,1157.70,1136.25,1133.00,1078.90,1086.30
2016-03-15,0,1134.40,1170.65,1125.35,1084.65,1179.75,1137.65,1139.90,1074.05,1105.40
2016-03-16,0,1152.45,1170.65,1110.30,1091.75,1174.70,1137.65,1139.90,1069.35,1105.25
2016-03-17,0,1161.75,1170.65,1121.15,1079.15,1174.70,1138.50,1139.90,1050.80,1105.25
2016-03-18,0,1193.40,1163.45,1121.15,1097.85,1174.70,1129.60,1131.90,1063.30,1105.25
2016-03-19,1,1193.40,1178.50,1121.15,1123.40,1150.80,1164.90,1139.65,1063.30,1078.90
2016-03-20,1,1193.40,1142.50,1084.05,1127.25,1107.65,1164.90,1121.25,1063.30,1074.05
2016-03-21,0,1194.90,1143.00,1125.45,1127.25,1108.55,1164.90,1137.05,1055.70,1069.35
2016-03-22,0,1189.95,1143.00,1156.00,1127.25,1078.65,1173.35,1136.25,1049.95,1050.80
2016-03-23,0,1207.80,1143.00,1169.30,1126.65,1084.65,1175.55,1136.25,1083.40,1063.30
2016-03-24,1,1207.80,1141.20,1170.65,1123.90,1084.65,1157.70,1136.25,1133.00,1063.30
2016-03-25,1,1207.80,1134.40,1170.65,1125.35,1084.65,1179.75,1137.65,1139.90,1063.30
2016-03-26,1,1207.80,1152.45,1170.65,1110.30,1091.75,1174.70,1137.65,1139.90,1055.70
2016-03-27,1,1207.80,1161.75,1170.65,1121.15,1079.15,1174.70,1138.50,1139.90,1049.95
2016-03-28,0,1204.90,1193.40,1163.45,1121.15,1097.85,1174.70,1129.60,1131.90,1083.40
2016-03-29,0,1197.25,1193.40,1178.50,1121.15,1123.40,1150.80,1164.90,1139.65,1133.00
2016-03-30,0,1205.95,1193.40,1142.50,1084.05,1127.25,1107.65,1164.90,1121.25,1139.90
2016-03-31,0,1218.30,1194.90,1143.00,1125.45,1127.25,1108.55,1164.90,1137.05,1139.90

In [186]:
# create dummy
infy_dummy = add_dummy(infy[['Volume','Close']])
infy_dummy

,Volume,Close,volume_shift_1,Volume_shocks,Volume_shocks_direction,Close_shift_1,Price_shocks,Price_shocks_direction,Pricing_black_swan,Pricing_black_swan_direction,Pricing_shock_without_volume_shock
2015-04-01,1684622,2173.95,NaN,1,1,2173.95,1,1,1,1,1
2015-04-02,1684622,2173.95,1684622.0,1,0,2173.95,1,1,1,1,1
2015-04-03,1684622,2173.95,1684622.0,1,0,2173.95,1,1,1,1,1
2015-04-04,1684622,2173.95,1684622.0,1,0,2173.95,1,1,1,1,1
2015-04-05,1684622,2173.95,1684622.0,1,0,2178.20,1,0,1,0,1
2015-04-06,1935438,2178.20,1684622.0,1,0,2159.50,1,1,1,1,1
2015-04-07,2135567,2159.50,1935438.0,1,0,2200.55,1,0,1,0,1
2015-04-08,2546394,2200.55,2135567.0,1,0,2215.00,1,0,1,0,1
2015-04-09,2645387,2215.00,2546394.0,1,0,2233.95,1,0,1,0,1
2015-04-10,1780944,2233.95,2645387.0,1,1,2233.95,1,1,1,1,1
2015-04-11,1780944,2233.95,1780944.0,1,0,2233.95,1,1,1,1,1
2015-04-12,1780944,2233.95,1780944.0,1,0,2238.80,1,0,1,0,1
2015-04-13,1218084,2238.80,1780944.0,1,1,2238.80,1,1,1,1,1
2015-04-14,1218084,2238.80,1218084.0,1,0,2213.70,1,1,1,1,1
2015-04-15,1559446,2213.70,1218084.0,1,0,2194.65,1,1,1,1,1
2015-04-16,2251953,2194.65,1559446.0,1,0,2179.25,1,1,1,1,1
2015-04-17,1612579,2179.25,2251953.0,1,1,2179.25,1,1,1,1,1
2015-04-18,1612579,2179.25,1612579.0,1,0,2179.25,1,1,1,1,1
2015-04-19,1612579,2179.25,1612579.0,1,0,2132.15,0,1,0,1,1
2015-04-20,3206346,2132.15,1612579.0,1,0,2142.60,1,0,1,0,1
2015-04-21,2220412,2142.60,3206346.0,1,1,2137.70,1,1,1,1,1
2015-04-22,3087746,2137.70,2220412.0,1,0,2122.00,1,1,1,1,1
2015-04-23,2972950,2122.00,3087746.0,1,1,1995.20,0,1,0,1,1
2015-04-24,10891363,1995.20,2972950.0,1,0,1995.20,1,1,1,1,1
2015-04-25,10891363,1995.20,10891363.0,1,0,1995.20,1,1,1,1,1
2015-04-26,10891363,1995.20,10891363.0,1,0,1984.65,1,1,1,1,1
2015-04-27,4955660,1984.65,10891363.0,1,1,1960.90,1,1,1,1,1
2015-04-28,2598375,1960.90,4955660.0,1,1,1961.15,1,0,1,0,1
2015-04-29,2072264,1961.15,2598375.0,1,1,1942.25,1,1,1,1,1
2015-04-30,3283565,1942.25,2072264.0,1,0,1942.25,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
2016-03-02,3607449,1156.00,3193077.0,1,0,1169.30,1,0,1,0,1
2016-03-03,2907152,1169.30,3607449.0,1,1,1170.65,1,0,1,0,1
2016-03-04,2140840,1170.65,2907152.0,1,1,1170.65,1,1,1,1,1
2016-03-05,2140840,1170.65,2140840.0,1,0,1170.65,1,1,1,1,1
2016-03-06,2140840,1170.65,2140840.0,1,0,1170.65,1,1,1,1,1
2016-03-07,2140840,1170.65,2140840.0,1,0,1163.45,1,1,1,1,1
2016-03-08,3808873,1163.45,2140840.0,1,0,1178.50,1,0,1,0,1
2016-03-09,3152891,1178.50,3808873.0,1,1,1142.50,0,1,0,1,1
2016-03-10,12190508,1142.50,3152891.0,1,0,1143.00,1,0,1,0,1
2016-03-11,2029274,1143.00,12190508.0,1,1,1143.00,1,1,1,1,1
2016-03-12,2029274,1143.00,2029274.0,1,0,1143.00,1,1,1,1,1
2016-03-13,2029274,1143.00,2029274.0,1,0,1141.20,1,1,1,1,1
2016-03-14,2087131,1141.20,2029274.0,1,0,1134.40,1,1,1,1,1
2016-03-15,3360129,1134.40,2087131.0,1,0,1152.45,1,0,1,0,1
2016-03-16,2794425,1152.45,3360129.0,1,1,1161.75,1,0,1,0,1
2016-03-17,3237311,1161.75,2794425.0,1,0,1193.40,0,0,0,0,1
2016-03-18,4238711,1193.40,3237311.0,1,0,1193.40,1,1,1,1,1
2016-03-19,4238711,1193.40,4238711.0,1,0,1193.40,1,1,1,1,1
2016-03-20,4238711,1193.40,4238711.0,1,0,1194.90,1,0,1,0,1
2016-03-21,2569196,1194.90,4238711.0,1,1,1189.95,1,1,1,1,1
2016-03-22,3548975,1189.95,2569196.0,1,0,1207.80,1,0,1,0,1
2016-03-23,3166588,1207.80,3548975.0,1,1,1207.80,1,1,1,1,1
2016-03-24,3166588,1207.80,3166588.0,1,0,1207.80,1,1,1,1,1
2016-03-25,3166588,1207.80,3166588.0,1,0,1207.80,1,1,1,1,1
2016-03-26,3166588,1207.80,3166588.0,1,0,1207.80,1,1,1,1,1
2016-03-27,3166588,1207.80,3166588.0,1,0,1204.90,1,1,1,1,1
2016-03-28,5393755,1204.90,3166588.0,1,0,1197.25,1,1,1,1,1
2016-03-29,3497678,1197.25,5393755.0,1,1,1205.95,1,0,1,0,1
2016-03-30,2878409,1205.95,3497678.0,1,1,1218.30,1,0,1,0,1
2016-03-31,8998160,1218.30,2878409.0,1,0,NaN,1,1,1,1,1

In [171]:
# similarly for other datasets

In [188]:
# TCS
tcs = load_dataset('TCS', start_date, end_date)

# handel holidays
# closing and previous close are same
tcs = fill_holiday(tcs, start_date, end_date)

# moving avg
weeks = [4,16,28,40,52]
tcs_ma = moving_avg(tcs[['Is_Holiday','Close']], weeks)

# roll window
window_size = [10,20,30,40,50,60,70,75]
tcs_rw = roll_window(tcs[['Is_Holiday','Close']],window_size)

# create dummy
tcs_dummy = add_dummy(tcs[['Volume','Close']])